.contenedor {
    display: grid;
    width: 100vh;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado "
    "navegacion navegacion navegacion navegacion"
    "aside main main main"
    "footer footer footer footer";

    grid-template-rows:  100px 100px 100px 100px;
    grid-template-columns: 20% 80%;
}
.encabezado {
    grid-area: encabezado;
    background-color: aquamarine;
    color: #ffffff;
    
}
.navegacion {
    grid-area: navegacion;    
    background-color: blueviolet;
    color: white;
  
}
.main {
    grid-area: main;
    background-color: yellowgreen;
    color: white;
  
}
.aside {
    grid-area: aside;
    background-color: violet;
    color: white;
}
.footer {
    grid-area: footer;
    background-color: #ffee00;
    
}
